<VirtualHost *:80>
  ServerName 192.168.100.15
  DocumentRoot {{ app_root }}

  WSGIDaemonProcess flaskhello user=lamp group=lamp threads=5 python-home={{ python_home }}
  WSGIScriptAlias / {{ app_root }}/flask-hello.wsgi

  ErrorLog "|{{ rotate_logs_bin }} -f {{ error_log_loc }} 86400"
  CustomLog "|{{ rotate_logs_bin }} -f {{ access_log_loc }} 86400" combined

  <Directory {{ app_root }}>
    WSGIProcessGroup flaskhello
    WSGIApplicationGroup %{Global}
    Order deny,allow
    Require all granted
  </Directory>
</Virtualhost>

