# PostgreSQL configuration file

data_directory = '{{ postgres_data_dir }}'
hba_file = '{{ postgres_config_dir }}/pg_hba.conf'
ident_file = '{{ postgres_config_dir }}/pg_ident.conf'
unix_socket_directories = '/var/run/postgresql'

listen_addresses = '{{ postgres_listen_addresses }}'
port = {{ postgres_port }}

max_connections = 100
shared_buffers = 128MB
dynamic_shared_memory_type = posix
